* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue LT W1G', sans-serif;
  background-color: #e7e7e7;
}

.background {
  background-color: #ffe100;
  background-clip: border-box;
}

.marginBackground {
  background-color: #ffe100;
  background-clip: border-box;
}

.container {
  background-color: #ffe100;
  background-clip: border-box;
  padding: 0;
  margin: 0;
}

.nav-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
}

.header img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  
}


img {
  background-color: #ffe100;
}

.header {
  height: 30px;
  width: 100%;
}

.block {
  background-color: #ffe100;
  margin: 0.3rem;
  border-radius: 0.3rem;
  padding: 0.01rem;
}

.block2 {
  margin: 0.3rem;
  border-radius: 0.3rem;
  padding: 0.01rem;
}

.card-title img {
  float: left;
  width: 100px;
  height: 100px;
  object-fit: contain;
  background-color: #ffe100;
}

h1 {
  font-size: 1.4rem;
  text-align: center;
  padding-left: 0.2rem;
  background-color: #ffe100;
  margin-top: 0.4rem;
}

h2 {
  font-size: 1.2rem;
  padding: 0.2rem;
  background-color: #ffe100;
  margin-top: 0.4rem;
}

h3 {
  font-size: 0.8rem;
  background-color: #ffe100;
  margin-top: 0.4rem;
}

.card {
  background-color: #ffe100;
  border-radius: 8px;
  padding: 0.3rem;
  box-shadow: 0px 2px 2px #999999;
  text-align: center;
  margin: 0.2rem;
}

button.addRemove {
  padding: 0rem 0.4rem;
  background-color: #999999; 
  color: white;
  font-size: 1rem;
  margin: 0.1rem 0.2rem;
}

.text-right {
  text-align: right;
  padding-right: 1rem;
}

.text-left {
  text-align: left;
  padding-left: 1rem;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
  background-color: #ffe100;
}



.add {
  background-color: #999999; 
  color: white;
  font-size: 0.8rem;
}

.order {
  background-color: #999999; 
  color: white;
  margin-top: 0.4rem;
  
}

.add:hover {
  background-color:#e7e7e7;
  transition: 0.7s;
}

.order:hover {
  background-color: #e7e7e7; 
  transition: 0.7s;
}

@media (max-width:480px) {
.middle {
  justify-content: space-between;
}


  
}

/*
a {
  text-decoration: none;
}



.order-button {
  background-color: #ffe100;
  border: none;
  padding: .5em;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  margin-top: .5em;
  font-size: 16px;
}

.order-button:hover {
  box-shadow: 0px 5px 5px #b2bec3;
  color: #eb4d4b;
}

input {
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 3px solid black;
  font-size: 1.2rem;
  height: 2rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.row2 {
  display:flex;
  justify-content: space-between;
}

 */
